.Menu {
    width: 100%;
    margin: 0;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: all 0.2s ease-out;
    background-color: white;
    flex-direction: row;

    nav {
        width: fit-content;
        margin: 0 auto;
        display: flex;
    }

    li {
        list-style-type: none;
        height: inherit;
        min-width: 150px;
        display: block;
        box-sizing: border-box;
        text-align: center;

        a {
            width: inherit;
            height: inherit;
            box-sizing: border-box;
            text-align: center;
            display: block;
            margin: 0;
            color: black;

            &:hover {
                color: rgb(89, 89, 89);
            }
        }
    }

    #avatar {
        display: flex;
    }
}