.companies {
    height: fit-content;
    margin: 4% 0;

    .ticker {
        margin: auto;
        width: fit-content;
    }

    li {
        display: flex;
        width: fit-content;
        min-height: inherit;
        margin: 0 30px;

        img {
            width: 100%;
            height: 100%;
        }

        #ebay {
            height: 100px;
            width: 160px;
        }

        #sonymusic {
            height: 90px;
            width: 422px;
        }
        
        #theorchard {
            height: 100px;
            width: 270px;
        }

        #bb-gov {
            height: 100px;
            width: 280px;
        }

        #jobhunters {
            height: 70px;
            width: 300px;
            margin: 15px 0;
        }
    }

    @keyframes scrollSlideLeft {
        from {margin-left: 10%;}
        to {margin-left: -60%;}
    }
    
    @keyframes move {
        to {
            /* Move horizontally so that right edge is aligned against the viewport */
            transform: translateX(calc(-100% + 100vw));
		    left: 0px;
        }
    }    

    @media (prefers-color-scheme: dark) {
        #sonymusic {
            content: url("/src/assets/sonymusic-white.png");
        }

        #bb-gov {
            content: url("src/assets/gov-bb-white.png");
        }
    }
    
    @media(max-width: 1810px){
        .ticker {
            padding: 0;
        }
    }

    @media(max-width: 1750px){
        
        height: 30vh;
        overflow: visible; /* To make position sticky work … */

        view-timeline-name: --section-pin-tl;
        view-timeline-axis: block;
    
        .pin-wrap-sticky {
            /* Stick to Top */
            height: fit-content;
            width: 100vw;
            position: -webkit-sticky;
            position: sticky;
            top: 60px;
            overflow-x: hidden;
        }

        .ticker {
            margin: initial;
            height: fit-content;
            width: 150vmax;
            transform: translateX(10%);

            /* Hook animation */
            will-change: transform;
            animation: linear move forwards;

            /* Link animation to view-timeline */
            animation-timeline: --section-pin-tl;
            animation-range: contain 0% contain 100%;
        }
    
    }

}
