.Contact {
    padding: 5% 0;

    form {
        width: 30vw;
        margin: 20px auto;

        input {height: 60px;}

        input, textarea {
            width: inherit;
            max-width: inherit;
            margin-top: 20px;
            font-family: inherit;
            padding: 1% 2%;
            box-sizing: border-box;
            border: none;
            border-radius: 5px;
        }

        input[type=submit] { 
            cursor: pointer;
            transition: all 0.5s ease-out;
            width: 100%;
        }

        input[type=submit]:hover {
            transform: scale3d(.94, .94, 1.01);
        }
    }
}