.awards {
    min-height: 80vh;
    height: fit-content;
    width: 100%;
    background-color: #2b2b2b;
    padding: 1% 0;
    position: sticky;
    top: 60px;

    &-container { 
        display: flex;
        padding: 0 1%;
        width: fit-content;
        flex-wrap: wrap;
        margin: 4% auto;
        gap: 20px
    }
    
    
    ul {
        list-style: none;
        min-width: max-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding: 0;
        row-gap: 40px;
        margin: 0 35px;

        li {
            min-width: 300px;
            min-height: 80px;
            height: fit-content;
            flex-direction: row;
            line-height: 80px;
            display: flex;
            animation: animate-in linear forwards, animate-out linear forwards;
            animation-timeline: view();
            animation-range: entry, exit;

            span {
                line-height: 80px;
                height: inherit;
                margin-left: 15px;
                font-size: 1.2em;
            }

            img {
                max-height: 100px;
            }
        }

        @keyframes animate-in {
            0% { opacity: 0; transform: translateY(100%); }
            100% { opacity: 1; transform: translateY(0); }
        }
        
        @keyframes animate-out {
            0% { opacity: 1; transform: translateY(0); }
            100% { opacity: 0; transform: translateY(-100%); }
        }

        #birms {
            height: 80px;
        }
        
        #ebay {
            width: 100px;
            height: 50px;
        }

        #notts {
            height: 80px
        }

        #notts-council {
            height: 80px
        }

        #bb-gov {
            height: 100px;
        }

        @media (prefers-color-scheme: dark) {
            #notts {
                content: url("/src/assets/notts.jpeg");
                height: 90px;
            }
        }

    }

    @media (max-width: 1348px) {
        
        &-container { 
            gap: 50px;
        }

        ul {
            margin: 0 auto;
            width: 692px;
        }
    }

    @media (max-width: 712px) {
        ul {
            li {
                width: 100vw;
                min-width: initial;
                line-height: initial;

                span {
                    line-height: 1.7em;
                }
            }
        }
    }

}