.intro {
    width: 100%;
    display: flex;
    margin: 0;
    min-height: 80vh;
    flex-direction: row;

    .container {
        display: flex;
        flex-wrap: wrap;
    }
    
    .container > div {
        width: 50vw;
        float: left;
    }

    .container {
        display: flex;
        padding: 0;
        height: inherit;
    }

    .bio {
        width: 100%;
        margin-top: 8vh;
        display: flex;
        flex-direction: column;
        padding-left: 10vw;
        box-sizing: border-box;
        text-align: left;
        padding: auto 0;

        h1 {
            font-size: 3em;
            margin: 0;
        }

        p {
            width: 80%;
            font-size: 1.2em;
        }        
    }

    .bio.slideLeft {
        > *:not(.socials) {
            animation: slideLeft ease-in-out 1s;
        }
    }

    .graphics {
        display: block;


        img {
            min-height: 630px;
            height: auto;
            min-width: 430px;
            width: 60%;
            float: right;
        }
    }

    .socials {
        margin: 60px 0;
        min-height: 20px;
        padding: 0;
        animation: slideLeft 0.5s ease-in-out;

        img{
            max-height: 30px;
            margin: 0 10px;
        }
    }

    @media (prefers-color-scheme: dark) {
        #github {
            content: url("/src/assets/github-white.svg");
        }
    }

    @keyframes slideLeft {
        0%, 75%{
            margin-left: -125%;
        }
        
        100% {
            margin-left: 0;
        }
    }
    
}

@media (max-width: 1250px) {
    .intro {
        .container > div {
            width: 100%;
        }

        .graphics {
            img {
                margin: auto;
                float: none;
                width: 50%;
            }
        }
    }
}

